<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletDem</display-name>
  <welcome-file-list>
    <welcome-file>EmployLogin.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.hcl.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NameServlet</display-name>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>com.hcl.servlet.NameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/NameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalcServlet</display-name>
    <servlet-name>CalcServlet</servlet-name>
    <servlet-class>com.hcl.servlet.CalcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalcServlet</servlet-name>
    <url-pattern>/CalcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployShowServlet</display-name>
    <servlet-name>EmployShowServlet</servlet-name>
    <servlet-class>com.hcl.servlet.EmployShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployShowServlet</servlet-name>
    <url-pattern>/EmployShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployInsertServlet</display-name>
    <servlet-name>EmployInsertServlet</servlet-name>
    <servlet-class>com.hcl.servlet.EmployInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployInsertServlet</servlet-name>
    <url-pattern>/EmployInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmploySearchServlet</display-name>
    <servlet-name>EmploySearchServlet</servlet-name>
    <servlet-class>com.hcl.servlet.EmploySearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmploySearchServlet</servlet-name>
    <url-pattern>/EmploySearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployLoginServlet</display-name>
    <servlet-name>EmployLoginServlet</servlet-name>
    <servlet-class>com.hcl.servlet.EmployLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployLoginServlet</servlet-name>
    <url-pattern>/EmployLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployDeleteServlet</display-name>
    <servlet-name>EmployDeleteServlet</servlet-name>
    <servlet-class>com.hcl.servlet.EmployDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployDeleteServlet</servlet-name>
    <url-pattern>/EmployDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>